*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  height: 100%;
}

body{
  background-color:rgb(30%55%70%);
  overflow-x:hidden;
  text-align: center;
}
.tt{
  font-size: 250%;
  text-align: center;
  font-family: 'Rakkas', cursive;
  color:white;
  margin-bottom: 60px;
  text-shadow: 3px 4px rgba(5 10 20/50%);
}
.all{
  height: auto;
  width: auto;
  display: flex;
  justify-content: center;

  }
  .border{
    padding: 30px;
    border-width: fit-content;
    border: 2px solid white;
    border-radius: 10px;
  }
hr{
  margin: 30px;
  background-color: white;
}
.as{
  width: 100px;
  border-radius:  1em;
  padding:1em;
  margin: 5px  10px ;
  font-family: 'Lalezar';
  color: rgb(40%50%1%);
  background-color:white;
  transition-delay: 0.5s;
  transition-duration: 1s;
  transition-property: all;
  box-shadow: 8px 5px 1px rgba(5 10 20/50%);
  display: inline-block;

}
.as:hover{
  background-color:rgb(60%50%90%);
  transform:scale(1.5);
 }
.footer0{
  left: 0;
  bottom: 0;
  width: 100%;
  margin-top: 20px;
  border-top: 1px solid white;
  background-color: rgb(102, 139, 162);
  color: black;
  text-align: center;
}
.footer1{
  margin: 1px;
}
.footer2{
  font-family: 'Indie Flower', cursive;
  text-decoration: none;
  font-size: 90%;
  color: black;
}
@media (max-width: 500px) {
}


